* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}

body {
  background: rgba(255, 255, 255, 1);
}

/* common class */

.continer {
  width: 80%;
  margin: 0 auto;
}

.btn {
  font-size: 16px;
  font-weight: 500;
  border: none;
  border-radius: 4px;
  padding: 12.5px 16px;
  background: rgba(70, 145, 101, 1);
  color: rgba(255, 255, 255, 1);
}

#banner {
  margin-bottom: 100px;
}

/* main section */
.nav-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
  background-color: bisque;
}

.nav-content .nav-logo img {
  width: 139px;
}

.nav-content .nav-link ul {
  display: flex;
  gap: 32px;
  list-style: none;
}

.nav-content .nav-link a {
  font-size: 16px;
  font-weight: 500;
  color: rgba(0, 0, 0, 1);
  text-decoration: none;
}

#banner {
  width: 100%;
  height: 700px;
  background: url("/image/banner-img.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

#banner-continer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.banner-content {
  width: 770px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: center;
  text-align: center;
}

.banner-content h1 {
  font-size: 72px;
  font-weight: 700;
  line-height: 84px;
  text-transform: capitalize;
  color: #ffffff;
}

.banner-content h1 .color-green {
  color: #30ac66;
}

.banner-content p {
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  font-style: Regular;
  text-align: center;
  color: rgba(255, 255, 255, 1);
  margin-bottom: 32px;
}

.banner-content .btn-b {
  gap: 16px;
  display: flex;
  align-items: center;
}
