* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}

body {
  background: rgba(255, 255, 255, 1);
}

/* common class */

.continer {
  width: 80%;
  margin: 0 auto;
}

.btn {
  font-size: 16px;
  font-weight: 500;
  border: none;
  border-radius: 4px;
  padding: 12.5px 16px;
  background: rgba(70, 145, 101, 1);
  color: rgba(255, 255, 255, 1);
  cursor: pointer;
}

.btn i {
  margin-left: 8px;
}

.btn:hover {
  font-size: 16px;
  font-weight: 500;
  background: transparent;
  border: 1px solid rgba(70, 145, 101, 1);
  color: #111111;
  transition: 0.3s;
}

#banner,
#notes,
#brin,
#ready {
  margin-bottom: 100px;
}

.header-text {
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: center;
  margin-bottom: 44px;
}

#header-text h3 {
  font-size: 48px;
  font-weight: 700px;
  font-style: Bold;
  line-height: 58px;
  text-transform: capitalize;
  color: rgba(0, 25, 49, 1);
}

#header-text p {
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  font-style: Regular;
  color: #627382;
}

/* main section */
.nav-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
}

.nav-content .nav-logo img {
  width: 139px;
}

.nav-content .nav-link ul {
  display: flex;
  gap: 32px;
  list-style: none;
}

.nav-content .nav-link a {
  font-size: 16px;
  font-weight: 500;
  color: rgba(0, 0, 0, 1);
  text-decoration: none;
}
.nav-content .nav-link a:hover {
  font-size: 16px;
  font-weight: 600;
  color: rgba(70, 145, 101, 1);
}

#banner {
  width: 100%;
  height: 700px;
  background: url("../assets/banner-img.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

#banner-continer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.banner-content {
  width: 770px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: center;
  text-align: center;
}

.banner-content .banner-text {
  color: #30b868;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 8px 12px;
  border-radius: 20px;
  gap: 6px;
  background-color: #ffffff;
}

.banner-content h1 {
  font-size: 72px;
  font-weight: 700;
  line-height: 84px;
  text-transform: capitalize;
  color: #ffffff;
}

.banner-content h1 .color-green {
  color: #30ac66;
}

.banner-content p {
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  font-style: Regular;
  text-align: center;
  color: rgba(255, 255, 255, 1);
  margin-bottom: 32px;
}

.banner-content .btn-b {
  gap: 16px;
  display: flex;
  align-items: center;
}

.banner-content .btn-b .btn-2 {
  background: transparent;
  border: 1px solid rgba(70, 145, 101, 1);
}

.banner-content .btn-1:hover {
  background: transparent;
  border: 1px solid rgba(70, 145, 101, 1);
  color: #ffffff;
  transition: 0.3s;
}

.banner-content .btn-2:hover {
  background: rgba(70, 145, 101, 1);
  color: #ffffff;
  transition: 0.3s;
}

.notes-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  gap: 24px;
}

.notes-content .notes-card {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.notes-content .notes-card {
  max-width: 322px;
  padding: 24px;
  border-radius: 8px;
  box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.079);
  background: rgb(248, 248, 248);
}

.notes-content .notes-card img {
  width: 60px;
}

.notes-content .notes-card h3 {
  font-size: 24px;
  font-weight: 600;
  color: rgba(0, 25, 49, 1);
  line-height: 29px;
  text-transform: capitalize;
}

.notes-content .notes-card p {
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  columns: rgba(98, 115, 130, 1);
}

.branin-contet {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 60px;
}

.branin-contet .brnain-img img {
  width: 600px;
}

.branin-contet .brain-text {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.branin-contet .brain-text h4 {
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
  text-transform: uppercase;
  color: rgba(70, 145, 101, 1);
}

.branin-contet .brain-text h2 {
  font-size: 48px;
  font-weight: 700;
  font-style: Bold;
  color: #001931;
}

.branin-contet .brain-text p {
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  font-style: Regular;
  color: #627382;
}

.brain-text .text-group {
  display: flex;
  gap: 6px;
  align-items: center;
}

.brain-text .text-group img {
  width: 20px;
}

.brain-text .text-group h5 {
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
  font-style: Medium;
  color: rgba(0, 25, 49, 1);
}

#ready-continer {
  background: rgba(247, 246, 242, 1);
  border-radius: 13px;
  padding: 80px 40px;
}

#ready-continer .ready-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 16px;
}

#ready-continer .ready-content h1 {
  font-size: 40px;
  font-weight: 700;
  line-height: 48px;
  color: rgba(0, 25, 49, 1);
}

#ready-continer .ready-content p {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: rgba(98, 115, 130, 1);
}

#footer {
  padding: 120px 120px 30px 120px;
  background: rgba(0, 25, 49, 1);
}

.footer-content .footer-banner {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 79px;
}

.footer-banner .footer-img img {
  width: 139px;
}

.footer-banner .footer-social {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 0 100px 0 0;
}

.footer-banner .footer-social p {
  font-size: 20px;
  font-weight: 500;
  color: rgba(255, 255, 255, 1);
  line-height: 28px;
}

.footer-banner .footer-social .social-icon {
  width: 20px;
  display: flex;
  gap: 16px;
}
.footer-banner .footer-social .social-icon a:hover {
  box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.079);
  border-radius: 4px;
  padding: 2px;
}

.footer-content .footer-text {
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  text-align: center;
  border-top: 1px solid rgba(229, 231, 235, 0.105);
  padding-top: 30px;
  color: rgba(250, 250, 250, 1);
}
